.delete_ad:hover{
  cursor: pointer;
}

#app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.ad{
  border:1px solid black;
  display:flex;
  flex-direction: row;
  background-color: beige;
  justify-content: center;
  align-items: center;
  padding:2rem;
}

ul{
  list-style-type: none;
}
